<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <title>Blogs</title>
  </head>
  <body class="single">
    <header>
      <h1>List of Articles</h1>
    </header>
    <ul class="root">
      <h3><%= article.title%></h3>
      <p><%= article.description%></p>
      <p><%= article.tags%></p>
      <p>Written by: <span><%= article.author%></span></p>
      <h5>
        likes: <span><%= article.likes%></span>
        <div class="like">
          <a href="/articles/<%= article.id%>/like">
            <button class="btn btn-like">like</button>
          </a>
          <a href="/articles/<%= article.id%>/dislike">
            <button class="btn btn-dislike">dislike</button>
          </a>
        </div>
      </h5>
      <div>
        <a href="/articles/<%= article.id%>/edit">
          <button class="btn">edit</button>
        </a>
        <a href="/articles/<%= article.id%>/delete">
          <button class="btn">Delete</button>
        </a>
      </div>
     
    </ul>
  </body>
</html>